.section {
  width: 50px;
  height: 5px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 15px;

  &:last-of-type {
    margin-right: 0;
  }
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
